<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Información</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <p>Bienvenido a AguaVida. Esta aplicación hace varias calculaciones
    para facilitar el proceso de cloración de agua. Para empezar, escoja
    un botón en la página principal.</p>
  <p>Esta aplicación fue creado por Stephen Chan y Eric Rubio.</p>
</ion-content>
