<ion-header>
  <ion-toolbar>
    <ion-title>
      AguaVida
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="ion-padding">
    <p>Bienvenido a AguaVida.</p>
  </div> -->

  <ion-button expand="block" routerLink="/info" routerDirection="root">
    Información
  </ion-button>
  <ion-button expand="block" routerLink="/caudal" routerDirection="root">
    Caudal
  </ion-button>
  <ion-button expand="block" routerLink="/peso-goteos" routerDirection="root">
    Peso de Cloro (Goteos)
  </ion-button>
  <ion-button expand="block" routerLink="/peso-auto" routerDirection="root">
    Peso de Cloro (Autocompensante)
  </ion-button>
  <ion-button expand="block" routerLink="/rapidez-goteos" routerDirection="root">
    Rapidez de Goteo (Goteos)
  </ion-button>
  <ion-button expand="block" routerLink="/rapidez-auto" routerDirection="root">
    Rapidez de Goteo (Autocompensante)
  </ion-button>
  <ion-button expand="block" routerLink="/estimacion-rapidez" routerDirection="root">
    Estimación de Rapidez de Goteo
  </ion-button>
  <ion-button expand="block" routerLink="/solucion-madre" routerDirection="root">
    Concentración de Solución Madre
  </ion-button>
  <ion-button expand="block" routerLink="/desinfeccion" routerDirection="root">
    Desinfección del Reservorio
  </ion-button>
  <ion-button expand="block" routerLink="/vr-cuadrado" routerDirection="root">
    Volumen de Tanque (Cubo)
  </ion-button>
  <ion-button expand="block" routerLink="/vr-cilindro" routerDirection="root">
    Volumen de Tanque (Cilindro)
  </ion-button>
  <ion-button expand="block" routerLink="/cloro-botella" routerDirection="root">
    Peso de Cloro en Botella
  </ion-button>

</ion-content>
